<nav id="site-navigation" class="main-navigation navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.url }}">
                <img src="{{ theme.uri }}/img/logo.svg" alt="NijmegenPHP" height="30"/>
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                {% for item in menu.get_items %}
                    <li class="nav-main-item {{ item.classes | join(' ') }}">
                        <a href="{{ item.get_link }}" class="nav-main-link">{{ item.title }}</a>
                    </li>

                    {% if item.get_children %}
                        {% for child in item.get_children %}
                            <li class="nav-drop-item"><a href="{{ child.get_link }}">{{ child.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
